<!doctype html>
<title>{% block title %}{% endblock %}</title>
<!-- HTMX -->
<meta name="robots" content="noindex" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="{{ url_for('static', filename='js/tailwind.config.js') }}"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/default.css') }}"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Meddon&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&display=swap"
  rel="stylesheet"
/>

<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='images/favicon.png') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navigation.css') }}"
/>

<body hx-boost="true" class="bg-primary">
  <main class="h-dvh">
    <header
      class="sticky top-0 z-10 flex justify-end items-center bg-transparent gap-2"
    >
      <a href="/rsvp" class="z-[9999]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8 md:w-12 md:h-12"
          viewBox="-1 -40 42 40"
        >
          <path
            d="M 4 0 C 2 0 0 -2 0 -4 L 0 -20 C 0 -21 3 -22 4 -22 L 20 -10 L 36 -22 C 37 -22 40 -21 40 -20 L 40 -4 C 40 -2 38 0 36 0 L 4 0 M 5 -21"
            stroke="#000000"
            stroke-width="1.5"
            fill="white"
          />
          <path
            d="M 20 -10 L 20 -10 M 5 -21 L 5 -34 C 5 -35 6 -35 6 -35 L 34 -35 C 34 -35 35 -35 35 -34 L 35 -21 L 20 -10 L 5 -21"
            stroke="#000000"
            stroke-width="1."
            fill="white"
          />
          <line
            stroke-width=".8"
            stroke="#000000"
            x1="10"
            y1="-21"
            x2="29"
            y2="-21"
          ></line>
          <text x="7" y="-23" class="font-Playwrite text-[8px]">RSVP</text>
        </svg>
      </a>
      <button
        class="hamburger-icon z-[9999] flex items-center justify-center w-10 h-10 md:w-14 md:h-14 hover:text-gray-400"
      >
        <label
          for="dropdown"
          class="flex cursor-pointer flex-col items-center justify-center"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            id="up-icon-svg"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 8"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"
            />
          </svg>
          <svg
            id="hamburger-icon-svg"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </label>
        <input type="checkbox" id="dropdown" />
      </button>

      <div class="navigation flex flex-col items-center justify-center">
        <ul class="flex flex-col gap-2 w-full">
          <li class="border-b-2 border-primary first:border-t-2">
            <a
              href="/#bruid"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
            >
              Bruid & Bruidegom
            </a>
          </li>
          <li class="border-b-2 border-primary">
            <a
              href="/#waar"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
            >
              Waar & Wanneer
            </a>
          </li>
          <li class="border-b-2 border-primary">
            <a
              href="/#cadeau"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
            >
              Cadeautip
            </a>
          </li>
          <li class="border-b-2 border-primary">
            <a
              href="/#getuigen"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
            >
              Getuigen
            </a>
          </li>
          <li class="border-b-2 border-primary">
            <a
              href="/#bruidskindjes"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
            >
              Bruidskindjes
            </a>
          </li>
          <li class="border-b-2 border-primary">
            <a
              href="/#fotos"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
            >
              Foto`s
            </a>
          </li>
          <li class="border-b-2 border-primary">
            <a
              href="/rsvp"
              class="px-1 py-2 w-full text-xl flex justify-center items-center hover:text-primary"
              _="on click set #dropdown.checked to false end"
              hx-swap="transition:true"
            >
              Laat weten of jullie kunnen komen
            </a>
          </li>
        </ul>
      </div>
    </header>
    <section
      id="rsvp"
      class="flex items-center justify-center w-screen !bg-primary p-4"
    >
      <form
        method="POST"
        action="/rsvp"
        hx-swap="outerHTML"
        hx-target="this"
        class="flex flex-col gap-2 w-[500px]"
      >
        <div class="flex flex-col gap-4">
          <h1 class="text-4xl">Ben Jij Erbij?</h1>
          <p class="text-sm">Laat ons weten of je aanwezig bent</p>
        </div>
        <div class="flex flex-col gap-0.5">
          <label for="name">Naam</label>
          <input
            required
            type="text"
            name="name"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 text-white focus:border-none focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-0.5">
          <label for="first-name">Voornaam</label>
          <input
            required
            type="text"
            name="first-name"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 text-white focus:border-none focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-0.5">
          <label for="email">Emailadres</label>
          <input
            required
            type="email"
            name="email"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 text-white focus:border-none focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-0.5">
          <label for="attend">Mogen we jullie verwelkomen?</label>
          <div class="flex flex-row gap-4">
            <div class="grid place-items-center">
              <input
                id="attend-yes"
                required
                type="radio"
                name="attend"
                value="cermonie"
                class="checkbox-true col-start-1 row-start-1 w-4 h-4 rounded-full appearance-none ring-offset-gray-800 bg-gray-700"
              />
              <div
                class="checkbox-dot-true col-start-1 row-start-1 w-2 h-2 rounded-full bg-primary pointer-events-none"
              ></div>
            </div>
            <label for="attend-yes"
              >Wij zijn graag aanwezig vanaf de ceremonie</label
            >
          </div>
          <div class="flex flex-row gap-4">
            <div class="grid place-items-center">
              <input
                id="attend-reception"
                required
                type="radio"
                name="attend"
                value="receptie"
                class="checkbox-true col-start-1 row-start-1 w-4 h-4 rounded-full appearance-none text-primary-600 ring-offset-gray-800 bg-gray-700"
              />
              <div
                class="checkbox-dot-true col-start-1 row-start-1 w-2 h-2 rounded-full bg-primary pointer-events-none"
              ></div>
            </div>
            <label for="attend-reception"
              >Wij zijn graag aanwezig vanaf de receptie</label
            >
          </div>

          <div class="flex flex-row gap-4">
            <div class="grid place-items-center">
              <input
                id="attend-no"
                required
                type="radio"
                name="attend"
                value="niet"
                class="checkbox-false col-start-1 row-start-1 w-4 h-4 rounded-full appearance-none text-primary-600 ring-offset-gray-800 bg-gray-700"
              />
              <div
                class="checkbox-dot-false col-start-1 row-start-1 w-2 h-2 rounded-full bg-primary"
              ></div>
            </div>
            <label for="attend-no">Sorry wij kunnen er niet bij zijn</label>
          </div>
        </div>
        <div>
          <label for="count">Hoe groot is jullie gezelschap?</label>
          <input
            required
            type="number"
            pattern="[0-9]*"
            inputmode="numeric"
            size="40"
            name="count"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 text-white focus:border-none focus:outline-none"
          />
        </div>
        <div class="flex flex-col gap-0.5">
          <label for="">Voedselvoorkeuren</label>
          <div class="flex flex-row gap-4">
            <div class="grid place-items-center">
              <input
                id="food-everything"
                type="checkbox"
                name="food-everything"
                value="Ja"
                class="checkbox-true col-start-1 row-start-1 w-4 h-4 rounded-full appearance-none ring-offset-gray-800 bg-gray-700"
              />
              <div
                class="checkbox-dot-true col-start-1 row-start-1 w-2 h-2 rounded-full bg-primary pointer-events-none"
              ></div>
            </div>
            <label for="food-everything">Wij lusten alles</label>
          </div>
          <div class="flex flex-row gap-4">
            <div class="grid place-items-center">
              <input
                id="food-vegi"
                type="checkbox"
                name="food-vegi"
                value="Ja"
                class="checkbox-true col-start-1 row-start-1 w-4 h-4 rounded-full appearance-none text-primary-600 ring-offset-gray-800 bg-gray-700"
              />
              <div
                class="checkbox-dot-true col-start-1 row-start-1 w-2 h-2 rounded-full bg-primary pointer-events-none"
              ></div>
            </div>
            <label for="food-vegi">
              Vegetarisch (vul het aantal bij opmerkingen)</label
            >
          </div>

          <div class="flex flex-row gap-4">
            <div class="grid place-items-center">
              <input
                id="food-algergy"
                type="checkbox"
                name="food-algergy"
                value="Ja"
                class="checkbox-true col-start-1 row-start-1 w-4 h-4 rounded-full appearance-none text-primary-600 ring-offset-gray-800 bg-gray-700"
              />
              <div
                class="checkbox-dot-true col-start-1 row-start-1 w-2 h-2 rounded-full bg-primary pointer-events-none"
              ></div>
            </div>
            <label for="food-algergy">
              Allergiëen? (vul deze aan bij de opmerkingen en ook met
              hoeveel)</label
            >
          </div>
        </div>

        <div>
          <label for="remarks">Opmerkingen</label>
          <textarea
            name="remarks"
            placeholder=""
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-700 text-white focus:border-none focus:outline-none"
          ></textarea>
        </div>

        <button>Verzend</button>
      </form>
    </section>
  </main>
</body>
